:root {
    --color-primary: oklch(0.12 0 0);
    --color-secondary: oklch(0.22 0 0);
    --color-lightest: oklch(0.32 0 0);
    --color-border: oklch(0.42 0 0);
    --color-text: oklch(0.82 0 0);
    --color-text-dim: oklch(0.82 0 0 / 0.6);
    --chat-width: 720px;
    --border-radius: 18px;
    --padding-light: 1em;
    --scrollbar-color: oklch(0.41 0 0);
    --scrollbar-hover: oklch(0.51 0 0);
    --scrollbar-width: 24px;

    --font-size: 15px;
    --font-line-height: 24px;
    --font-weight: normal;
    --font-spacing: -0.4px;
}

/* Reset & Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-margin-collapse: none;
}

/* Scroll Specific Styling */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
}

*::-webkit-scrollbar {
    width: var(--scrollbar-width);
    position: fixed;
    right: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
}

/* Global Styling */

html {
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
}

body {
    /* background-color: var(--color-primary); */
    background-color: black;

    /* Font styling */
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    color: var(--color-text);
    letter-spacing: var(--font-spacing);
    font-size: var(--font-size);
    line-height: var(--font-line-height);
    font-weight: var(--font-weight);
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    --webkit-font-smoothing: antialiased;

    /* Layout */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Helpers */

.opacity-80 {
    opacity: 0.8;
}

/* Layout */

main {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.2em;
}

header {
    position: sticky;
    top: 0.2em;
    padding: 1em;
    background-color: transparent;
    padding-bottom: var(--padding-light);
    flex-shrink: 0;
}

header > label {
    letter-spacing: 0.04px;
    padding-left: 0.2em;
    opacity: 60%;
}

think {
    background-color: var(--color-lightest);
    border-radius: calc(var(--border-radius) - 0.4em);
    border-radius-top-left: 4px;
    padding: 1em;
    margin: 1em 0;
    font-color: var(--color-text-dim);
}

think > label {
    color: var(--color-seconday);
    font-size: smaller;
    text-decoration: underline;
    font-weight: 400;
    letter-spacing: 0.01rem;
    margin-left: 0.3rem;
}

.fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

/* Chat Elements */
#chat-output {
    display: flex;
    flex-direction: column;
    width: var(--chat-width);
    flex: 1;
    margin: 0 auto;
    padding: 0em 1em;
}

.chat-message,
.user-message {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: 80%;
}

.chat-message {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    margin-right: auto;
    border-top-left-radius: 4px;
    padding: 1em;
}

.chat-message::before {
    display: absolute;
    top: 1em;
    left: -2em;
    content: "🤖";
    font-size: 1.5em;
    margin-right: 0.5em;
    float: left;
}

.user-message {
    margin-left: auto;
    border-top-right-radius: 4px;
    background-color: var(--color-lightest);
}

.user-message::before {
    content: "🤔";
    font-size: 1.5em;
    margin-right: 0.5em;
}

/* Remove list-style properties from original */
#chat-results > li {
    display: flex;
    margin-bottom: 10px;
}

/* Chat Input  */

#chat-input {
    position: sticky;
    bottom: 0;
    background-color: transparent;
    padding: 0;
    padding-top: var(--padding-light);
    flex-shrink: 0;
}

#chat-input > .chat-frame {
    width: var(--chat-width);
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    border-radius-top-left: var(--border-radius);
    border-radius-top-right: var(--border-radius);
    margin: 0 auto;
}

#chat-input textarea {
    width: 100%;
    padding: 1em;
    padding-bottom: 2em;
    font-size: 1rem;
    background-color: var(--color-lightest);
    color: var(--color-text);
    border: none;
    border-radius: var(--border-radius);
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    overflow: hidden;
    white-space: pre-wrap;
    outline: none;
    border: 0.02em solid var(--color-border);
}
