:root {
    --color-primary: oklch(0.31 0.01 0);
    --color-secondary: oklch(0.41 0.01 0);
    --color-text: oklch(0.81 0.01 0);
    --chat-width: 840px;
    --border-radius: 12px;
    --padding-light: 1em;
    --scrollbar-color: oklch(0.41 0.01 0);
    --scrollbar-hover: oklch(0.51 0.01 0);
    --scrollbar-width: 24px;
}

/* Reset & Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
}

body {
    background-color: var(--color-primary);

    /* Font styling */
    font-family: "Roboto", sans-serif;
    color: var(--color-text);
    letter-spacing: -0.01em;
    font-size: large;
    font-weight: 550;

    /* Layout */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Layout */
main {
    /* margin: 0 auto;
    max-width: var(--chat-width);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto; */
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--color-primary);
    padding-bottom: var(--padding-light);
    flex-shrink: 0;
    padding: var(--padding-light);
}

/* Chat Elements */
#chat-output {
    display: flex;
    flex-direction: column;
    width: var(--chat-width);
    flex: 1;
    margin: 0 auto;
}

#chat-results > li {
    margin-bottom: 10px;
}

#chat-results > li > .chat-message {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    border-top-left-radius: 4px;
    display: inline-block;
    padding: 10px;

    list-style-position: outside;
    display: list-item !important;
    list-style-type: "🤖  ";
}

#chat-input {
    position: sticky;
    bottom: 0;
    background-color: var(--color-primary);
    padding: 1rem;
    padding-top: var(--padding-light);
    flex-shrink: 0;
}

#chat-input label {
    font-size: small;
    font-weight: bolder;
    letter-spacing: 0.01rem;
    margin-left: 0.3rem;
}

#chat-input textarea {
    width: 100%;
    margin-top: 0.3rem;
    padding: 10px;
    font-size: 1rem;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: none;
    border-radius: var(--border-radius);
    overflow: hidden;
    white-space: pre-wrap;
    outline: none;
}

/* Scroll Specific Styling */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
}

*::-webkit-scrollbar {
    width: var(--scrollbar-width);
    position: fixed;
    right: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
}
