:root {
    --color-primary: oklch(0.31 0.01 0);
    --color-secondary: oklch(0.41 0.01 0);
    --color-text: oklch(0.81 0.01 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    height: 100%;
}

body {
    min-height: 100%;
    background-color: var(--color-primary);
    overscroll-behavior: none;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    font-size: large;
    font-weight: 550;
    letter-spacing: -0.01em;
    color: var(--color-text);
}

main {
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding-top: 1em;
    padding-bottom: 0.01em;
    background-color: var(--color-primary);
    position: sticky;
    top: 0;
}

h1 {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
    width: 100%;
}

/* CHAT_SPECIFIC_ELEMENTS */

#chat-output {
    width: 840px;
    min-height: 100svh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    flex-grow: 1;
    scroll-behavior: smooth;
}

#chat-output > ul {
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 840px;
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

#chat-results > li {
    text-align: left;
    list-style: none;
    list-style-position: outside;
    margin-bottom: 10px;
}

#chat-results > li > .chat-message {
    background-color: var(--color-secondary);
    border-radius: 12px;
    display: inline-block;
    border-top-left-radius: 4px;
    text-align: left;
    padding: 10px;
}

#chat-input {
    background-color: var(--color-primary);
    position: sticky;
    bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#chat-input label {
    font-size: small;
    font-weight: bolder;
    letter-spacing: 0.01rem;
    margin-left: 0.3rem;
}

#chat-input textarea {
    margin-top: 0.3rem;
    background-color: var(--color-secondary);
    color: var(--color-text);
    overflow: hidden;
    border-radius: 32px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    white-space: pre-wrap;
    outline: none;
    border: none;
}
